@model RecipeBox.Models.Recipe

<h2>Recipe Details</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model =>model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = ModelExpressionProvider.RecipeId})</p>
<p>@Html.Action</p>