@model RecipeBox.Models.Recipe

<h2>Edit</h2>
<h3>Edit Recipe: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
@Html.HiddenFor(model => model.RecipeId)

@Html.LabelFor(model => model.Name)
@Html.EditorFor(model => model.Name)
@Html.LabelFor(model => model.Instructions)
@Html.EditorFor(model => model.Instructions)
@Html.LabelFor(model => model.Rating)
@Html.EditorFor(model => model.Rating)
<input type="submit" value="save"/>
}

<p>@Html.ActionLink("Recipes", "Index")</p>